/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* SEÇÃO PRINCIPAL */
section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* TABELA */
table {
  width: 70%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 5px solid #ccc;
}

/* SELECT */
select {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

/* CÉLULAS */
th,
td {
  padding: 10px;
  border: 2px solid #ccc;
}